@import 'tailwindcss';
@import '@/assets/fonts.css';

@theme {
    --color-accent: #007aff;
    --color-gray: #c6c6c6;
    --color-lightgray: #ececec;
    --color-skyblue: #96b4f0;
    --color-error: #d32f2f;
    --color-warning: #ffa000;
    --color-success: #388e3c;
    --radius-button: 0.3rem;
    --radius-bubble: 1rem;
}

body {
    font-family: 'Ysabeau', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.main-button {
    @apply flex justify-center items-center max-w-44 min-w-max w-fit text-center
    lg:text-xl text-base lg:py-3 py-2 lg:px-4 px-2 bg-accent text-white border
    border-accent rounded-button leading-none cursor-pointer hover:text-accent
    hover:bg-white transition-colors;
}
